.ErrorPage {
  padding: 5.75rem 1.5rem 1.5rem;
}
.ErrorPage .image-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 auto;
}
.ErrorPage .image-wrapper.info {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' fill='none' viewBox='0 0 56 56'%3E%3Ccircle cx='28' cy='28' r='28' fill='%23EE5253'/%3E%3Crect width='19.2' height='4.8' x='30.4' y='13.6' fill='%23fff' rx='2.4' transform='rotate(90 30.4 13.6)'/%3E%3Ccircle cx='28' cy='39.85' r='2.838' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.ErrorPage h2 {
  font-size: 1.125rem;
  color: var(--coral);
  margin: 1.25rem 0 1.5rem;
}
.ErrorPage p {
  font-size: .875rem;
}

.FingerPrint {
  padding: 6.5rem 1.5rem 3rem;
  background: var(--is-primary);
  color: white;
}
.FingerPrint h2 {
  font-size: 1.375rem;
}
.FingerPrint .block {
  margin-top: -4rem;
}
.FingerPrint p {
  font-size: .875rem;
  margin: 0 0 1.5rem;
}
.FingerPrint .icon-wrapper {
  width: 4rem;
  height: 4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M46.8456 21.944C46.6962 21.944 46.5469 21.9066 46.4162 21.832C42.8322 19.984 39.7336 19.2 36.0189 19.2C32.3229 19.2 28.8136 20.0773 25.6216 21.832C25.1736 22.0746 24.6136 21.9066 24.3522 21.4586C24.1096 21.0106 24.2776 20.432 24.7256 20.1893C28.1976 18.304 32.0056 17.3333 36.0189 17.3333C39.9949 17.3333 43.4669 18.2106 47.2749 20.1706C47.7416 20.4133 47.9096 20.9733 47.6669 21.4213C47.4989 21.7573 47.1816 21.944 46.8456 21.944ZM20.1336 31.744C19.9469 31.744 19.7602 31.688 19.5922 31.576C19.1629 31.2773 19.0696 30.6986 19.3682 30.2693C21.2162 27.656 23.5682 25.6026 26.3682 24.1653C32.2296 21.1413 39.7336 21.1226 45.6136 24.1466C48.4136 25.584 50.7656 27.6186 52.6136 30.2133C52.9122 30.624 52.8189 31.2213 52.3896 31.52C51.9602 31.8186 51.3816 31.7253 51.0829 31.296C49.4029 28.944 47.2749 27.096 44.7549 25.808C39.3976 23.064 32.5469 23.064 27.2082 25.8266C24.6696 27.1333 22.5416 29 20.8616 31.352C20.7122 31.6133 20.4322 31.744 20.1336 31.744ZM31.1469 53.9946C31.3149 54.1813 31.5576 54.2746 31.8002 54.2746C32.0429 54.2746 32.2856 54.1813 32.4909 53.9946C32.8456 53.6213 32.8456 53.0426 32.4909 52.6693C31.0536 51.2133 30.2322 50.2986 29.0376 48.152C27.8989 46.136 27.3016 43.6533 27.3016 40.9653C27.3016 36.448 31.2029 32.7706 36.0002 32.7706C40.7976 32.7706 44.6989 36.448 44.6989 40.9653C44.6989 41.488 45.1096 41.8986 45.6322 41.8986C46.1549 41.8986 46.5656 41.488 46.5656 40.9653C46.5656 35.4213 41.8242 30.904 36.0002 30.904C30.1762 30.904 25.4349 35.4213 25.4349 40.9653C25.4349 43.9706 26.1069 46.7706 27.3949 49.0666C28.6456 51.3253 29.5229 52.3706 31.1469 53.9946ZM45.1842 50.8213C42.9629 50.8213 41.0029 50.2613 39.3976 49.16C36.6162 47.2746 34.9549 44.2133 34.9549 40.9653C34.9549 40.4426 35.3656 40.032 35.8882 40.032C36.4109 40.032 36.8216 40.4426 36.8216 40.9653C36.8216 43.5973 38.1656 46.08 40.4429 47.6106C41.7682 48.5066 43.3176 48.936 45.1842 48.936C45.6322 48.936 46.3789 48.88 47.1256 48.7493C47.6296 48.656 48.1149 48.992 48.2082 49.5146C48.3016 50.0186 47.9656 50.504 47.4429 50.5973C46.3789 50.8026 45.4456 50.8213 45.1842 50.8213ZM41.1896 54.6293C41.2642 54.648 41.3576 54.6666 41.4322 54.6666C41.8242 54.6666 42.2162 54.3866 42.3096 53.9573C42.4402 53.472 42.1602 52.9493 41.6562 52.8186C39.0242 52.0906 37.3256 51.12 35.5522 49.3653C33.2936 47.1253 32.0616 44.1386 32.0616 40.9466C32.0616 38.9493 33.7976 37.3253 35.9442 37.3253C38.0909 37.3253 39.8269 38.9493 39.8269 40.9466C39.8269 43.9706 42.4029 46.4346 45.5762 46.4346C48.7496 46.4346 51.3256 43.9706 51.3256 40.9466C51.3256 32.8826 44.4189 26.3306 35.9256 26.3306C29.8962 26.3306 24.3896 29.7093 21.9069 34.9173C21.0669 36.6906 20.6376 38.7253 20.6376 40.9653C20.6376 43.4853 21.0856 45.912 22.0002 48.3573C22.1682 48.824 22.7096 49.0853 23.1949 48.8986C23.6802 48.7306 23.9229 48.1893 23.7362 47.704C22.6162 44.7173 22.4856 42.4213 22.4856 40.9653C22.4856 39.024 22.8589 37.2506 23.5869 35.7386C25.7709 31.1653 30.6242 28.216 35.9256 28.216C43.3922 28.216 49.4589 33.928 49.4589 40.9653C49.4589 42.9626 47.7229 44.5866 45.5762 44.5866C43.4296 44.5866 41.6936 42.9626 41.6936 40.9653C41.6936 37.9413 39.1176 35.4773 35.9442 35.4773C32.7709 35.4773 30.1949 37.9413 30.1949 40.9653C30.1949 44.6613 31.6322 48.1146 34.2456 50.7093C36.2802 52.7066 38.2216 53.808 41.1896 54.6293Z' fill='white'/%3E%3Ccircle cx='36' cy='36' r='35.5' stroke='%23B6B6B6'/%3E%3C/svg%3E%0A");
  margin: 0 auto 2rem;
}
.FingerPrint .icon-wrapper.face {
  width: 100px;
  height: 100px;
  background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.65625 19.7578V11.6719C3.65625 7.25203 7.2521 3.65625 11.6719 3.65625H19.7578C20.7674 3.65625 21.5859 2.83774 21.5859 1.82812C21.5859 0.818508 20.7674 0 19.7578 0H11.6719C5.23603 0 0 5.23596 0 11.6719V19.7578C0 20.7674 0.818508 21.5859 1.82812 21.5859C2.83774 21.5859 3.65625 20.7674 3.65625 19.7578ZM19.7578 68.3438C20.7674 68.3438 21.5859 69.1623 21.5859 70.1719C21.5859 71.1815 20.7674 72 19.7578 72H11.6719C5.23603 72 0 66.764 0 60.3281V52.2422C0 51.2326 0.818508 50.4141 1.82812 50.4141C2.83774 50.4141 3.65625 51.2326 3.65625 52.2422V60.3281C3.65625 64.7479 7.2521 68.3438 11.6719 68.3438H19.7578ZM72 52.2422V60.3281C72 66.764 66.764 72 60.3281 72H52.2422C51.2326 72 50.4141 71.1815 50.4141 70.1719C50.4141 69.1623 51.2326 68.3438 52.2422 68.3438H60.3281C64.7479 68.3438 68.3438 64.7479 68.3438 60.3281V52.2422C68.3438 51.2326 69.1623 50.4141 70.1719 50.4141C71.1815 50.4141 72 51.2326 72 52.2422ZM72 11.6719V19.7578C72 20.7674 71.1815 21.5859 70.1719 21.5859C69.1623 21.5859 68.3438 20.7674 68.3438 19.7578V11.6719C68.3438 7.25203 64.7479 3.65625 60.3281 3.65625H52.2422C51.2326 3.65625 50.4141 2.83774 50.4141 1.82812C50.4141 0.818508 51.2326 0 52.2422 0H60.3281C66.764 0 72 5.23596 72 11.6719ZM48.6161 53.215C49.3863 52.5036 49.4339 51.3025 48.7225 50.5323C48.011 49.7621 46.81 49.7145 46.0398 50.4259C43.2992 52.9574 39.7337 54.3516 36 54.3516C32.2663 54.3516 28.7008 52.9574 25.9602 50.4259C25.1899 49.7145 23.989 49.7622 23.2775 50.5323C22.5661 51.3025 22.6137 52.5036 23.3839 53.215C26.8282 56.3964 31.3085 58.1484 36 58.1484C40.6915 58.1484 45.1718 56.3964 48.6161 53.215ZM39.7969 27.1406V40.6406C39.7969 43.3158 37.6205 45.4922 34.9453 45.4922H33.3984C32.3499 45.4922 31.5 44.6423 31.5 43.5938C31.5 42.5452 32.3499 41.6953 33.3984 41.6953H34.9453C35.5269 41.6953 36 41.2222 36 40.6406V27.1406C36 26.0921 36.8499 25.2422 37.8984 25.2422C38.9469 25.2422 39.7969 26.0921 39.7969 27.1406ZM52.875 32.4492V27.0352C52.875 26.0449 52.0722 25.2422 51.082 25.2422C50.0918 25.2422 49.2891 26.0449 49.2891 27.0352V32.4492C49.2891 33.4394 50.0918 34.2422 51.082 34.2422C52.0722 34.2422 52.875 33.4394 52.875 32.4492ZM19.5469 32.4492C19.5469 33.4394 20.3496 34.2422 21.3398 34.2422C22.3301 34.2422 23.1328 33.4394 23.1328 32.4492V27.0352C23.1328 26.0449 22.3301 25.2422 21.3398 25.2422C20.3496 25.2422 19.5469 26.0449 19.5469 27.0352V32.4492Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 70%;
}
.FingerPrint button {
  background: #6d7c8a;
  border-radius: 6px;
  font-size: .875rem;
  color: white;
  padding: .5rem 2rem;
}
.FingerPrint a {
  font-size: 13px;
  color: white;
  text-align: center;
  text-decoration: underline;
}

.AuthSMS header {
  flex: 0 0 auto;
}

.AuthSMS.detail .content-area {
  height: 100%;
}

.Home .sub-title {
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 1rem;
  padding: 1rem 0;
  padding-left: 1.875rem;
}
.Home .sub-title.my-data {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.58333 11.4583C4.58333 11.7453 5.00592 12.2448 5.98583 12.7353C7.2545 13.3696 9.05392 13.75 11 13.75C12.9461 13.75 14.7455 13.3696 16.0142 12.7353C16.9941 12.2448 17.4167 11.7453 17.4167 11.4583V9.46825C15.9042 10.4033 13.5914 11 11 11C8.40858 11 6.09583 10.4023 4.58333 9.46825V11.4583ZM17.4167 14.0516C15.9042 14.9866 13.5914 15.5833 11 15.5833C8.40858 15.5833 6.09583 14.9857 4.58333 14.0516V16.0417C4.58333 16.3286 5.00592 16.8282 5.98583 17.3186C7.2545 17.9529 9.05392 18.3333 11 18.3333C12.9461 18.3333 14.7455 17.9529 16.0142 17.3186C16.9941 16.8282 17.4167 16.3286 17.4167 16.0417V14.0516ZM2.75 16.0417V6.875C2.75 4.59708 6.44417 2.75 11 2.75C15.5558 2.75 19.25 4.59708 19.25 6.875V16.0417C19.25 18.3196 15.5558 20.1667 11 20.1667C6.44417 20.1667 2.75 18.3196 2.75 16.0417ZM11 9.16667C12.9461 9.16667 14.7455 8.78625 16.0142 8.15192C16.9941 7.6615 17.4167 7.16192 17.4167 6.875C17.4167 6.58808 16.9941 6.0885 16.0142 5.59808C14.7455 4.96375 12.9461 4.58333 11 4.58333C9.05392 4.58333 7.2545 4.96375 5.98583 5.59808C5.00592 6.0885 4.58333 6.58808 4.58333 6.875C4.58333 7.16192 5.00592 7.6615 5.98583 8.15192C7.2545 8.78625 9.05392 9.16667 11 9.16667Z' fill='%232E2E2E'/%3E%3C/svg%3E%0A");
}
.Home .sub-title.my-finance {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7604 13.8444C18.3552 12.4312 18.4921 10.8671 18.1519 9.37206C17.8117 7.87699 17.0115 6.52614 15.8637 5.50943C14.716 4.49271 13.2785 3.86127 11.7533 3.70388C10.2281 3.54648 8.69198 3.87105 7.36082 4.63194L6.45148 3.03969C7.84265 2.24459 9.41799 1.8282 11.0203 1.83206C12.6227 1.83592 14.196 2.2599 15.5833 3.06169C19.6992 5.43769 21.2758 10.5252 19.3572 14.7675L20.5874 15.477L16.7695 17.5065L16.6182 13.1854L17.7604 13.8444ZM4.23957 8.15561C3.64478 9.56884 3.50787 11.1329 3.84808 12.628C4.18828 14.1231 4.9885 15.4739 6.13622 16.4906C7.28394 17.5073 8.72145 18.1388 10.2466 18.2962C11.7718 18.4536 13.308 18.129 14.6392 17.3681L15.5485 18.9604C14.1573 19.7555 12.582 20.1719 10.9796 20.168C9.37729 20.1641 7.80397 19.7402 6.41665 18.9384C2.30082 16.5624 0.724152 11.4749 2.64273 7.23253L1.41165 6.52394L5.22957 4.49444L5.38082 8.81561L4.23865 8.15653L4.23957 8.15561ZM12.2971 13.5924L9.70198 11L7.10965 13.5924L5.81348 12.2962L9.7029 8.40769L12.2962 11L14.8894 8.40769L16.1856 9.70386L12.2962 13.5924H12.2971Z' fill='%232E2E2E'/%3E%3C/svg%3E%0A");
}
.Home .sub-title.my-benefit {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2917 1.83334C13.8331 1.83315 14.3658 1.96999 14.8401 2.23111C15.3144 2.49222 15.7149 2.86912 16.0043 3.32671C16.2937 3.78429 16.4626 4.30768 16.4953 4.84812C16.5279 5.38856 16.4233 5.92848 16.1911 6.41759L19.25 6.41667C19.4931 6.41667 19.7263 6.51325 19.8982 6.68516C20.0701 6.85706 20.1667 7.09022 20.1667 7.33334V11C20.1667 11.2431 20.0701 11.4763 19.8982 11.6482C19.7263 11.8201 19.4931 11.9167 19.25 11.9167H18.3333V19.25C18.3333 19.4931 18.2368 19.7263 18.0649 19.8982C17.893 20.0701 17.6598 20.1667 17.4167 20.1667H4.58334C4.34023 20.1667 4.10707 20.0701 3.93516 19.8982C3.76325 19.7263 3.66668 19.4931 3.66668 19.25V11.9167H2.75001C2.5069 11.9167 2.27374 11.8201 2.10183 11.6482C1.92992 11.4763 1.83334 11.2431 1.83334 11V7.33334C1.83334 7.09022 1.92992 6.85706 2.10183 6.68516C2.27374 6.51325 2.5069 6.41667 2.75001 6.41667L5.80893 6.41759C5.48237 5.73162 5.40983 4.95202 5.60424 4.21759C5.79864 3.48315 6.24736 2.84153 6.87052 2.40694C7.49368 1.97236 8.25084 1.77302 9.00721 1.8444C9.76358 1.91578 10.4701 2.25326 11.0009 2.79675C11.2989 2.49107 11.6551 2.24829 12.0486 2.0828C12.4421 1.91732 12.8648 1.83249 13.2917 1.83334ZM16.5 11.9167H5.50001V18.3333H16.5V11.9167ZM18.3333 8.25H3.66668V10.0833H18.3333V8.25ZM8.70834 3.66667C8.35523 3.66684 8.01572 3.80287 7.76016 4.04655C7.5046 4.29023 7.35258 4.62288 7.33561 4.97559C7.31864 5.3283 7.43802 5.67402 7.669 5.9411C7.89999 6.20819 8.22488 6.37618 8.57634 6.41025L8.70834 6.41667H10.0833V5.04167C10.0833 4.69986 9.956 4.37031 9.72619 4.11729C9.49639 3.86426 9.18057 3.7059 8.84034 3.67309L8.70834 3.66667ZM13.2917 3.66667L13.1597 3.67309C12.8419 3.70353 12.5447 3.84357 12.3189 4.06919C12.0931 4.29481 11.9529 4.59195 11.9222 4.90967L11.9167 5.04167V6.41667H13.2917L13.4237 6.41025C13.7638 6.37728 14.0794 6.21885 14.3091 5.96584C14.5388 5.71283 14.666 5.38337 14.666 5.04167C14.666 4.69997 14.5388 4.37051 14.3091 4.1175C14.0794 3.86449 13.7638 3.70606 13.4237 3.67309L13.2917 3.66667Z' fill='%232E2E2E'/%3E%3C/svg%3E%0A");
}
.Home .finance-title {
  font-size: 0.938rem;
  font-weight:bold;
}
.Home .finance-count {
  display:inline-block;
  padding-left: 0.375rem;
  font-size: 0.938rem;
  font-weight:bold;
  color: #1c4e8e;
}

.policy .header {
  padding-left: 24px;
}
.policy .page-title {
  font-size: 1.0rem;
  font-weight: 700;
  color: #2e2e2e;
}
.policy .input-wrapper {
  padding: 0.5rem 1.5rem;
  border-radius: 0;
}
.policy .input-wrapper label {
  font-size: 0.875rem;
  font-weight: 400;
  color: #2e2e2e;
}
.policy .input-wrapper .select {
  position: relative;
  flex: 0 0 auto;
  min-width: 10rem;
  height: 2rem;
  padding: 0 2rem 0 0.5rem;
  border-radius: 0.4rem;
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  font-size: 0.875rem;
  font-weight: 400;
  color: #2e2e2e;
}
.policy .input-wrapper .select::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0.6rem;
  right: 0.7rem;
  width: 0.4rem;
  height: 0.4rem;
  border-left: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
  transform: rotate(-45deg);
}
.policy .content-area.gray-bg section {
  padding: 1.25rem 1.5rem; 
}
.policy .content-area.gray-bg section h3 {
  margin-bottom: 1.4rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #2e2e2e;
}
.policy .content-area.gray-bg section p {
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: #2e2e2e;
}
.policy .content-area.gray-bg section b {
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 700;
  color: #2e2e2e;
}
.policy .content-area.gray-bg section p+h3 {
  margin-top: 1.4rem;
}
.policy hr {
  background: none;
  margin: 0.6rem;
}
.policy table {
  width: 100%;
  border-spacing: 0;
  margin: 1.2rem 0;
}
.policy table thead th {
  height: 2rem;
  background-color: #e9eff5;
  padding: 0.375rem 0.5;
  font-size: 0.8rem;
  font-weight: 700;
  color: #2c3238;
}
.policy table tbody th {
  width: 7.25rem;
  text-align: left;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: #6b7682;
  border-bottom: 1px solid #e1e6eb;
}
.policy table tbody tr:first-child th,
.policy table tbody tr:first-child td {
  border-top: 1px solid #e1e6eb;
}
.policy table tbody td {
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #6b7682;
  border-bottom: 1px solid #e1e6eb;
}
.policy table thead th+th,
.policy table tbody th+td,
.policy table tbody td+td {
  border-left: 1px solid #e1e6eb;
}
.policy .modal-view .line-list {
  margin-left: calc(var(--side-padding) * -1.5);
  margin-right: calc(var(--side-padding) * -1.5);
}
.policy .modal-view .gray-bar {
  margin-bottom: 1rem;
}
.policy .modal-view .sub-title {
  font-size: 1rem;
  font-weight: 500;
  color: #2e2e2e;
}

.ReceiptSearch > .input-wrapper > span,
.ReceiptSearch > .input-wrapper > div {
  flex: 1 1 auto;
  text-align: right;
}

.ReceiptSearch > .input-wrapper input {
  padding-left: 1rem;
}

.ReceiptSearch > .input-wrapper .is-delete {
  flex: 0 0 auto;
}

.ReceiptSearch + .three-line-list .vbox > .cross-center {
  margin-bottom: 0.4rem;
}